<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="globals.css" /> -->
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <!-- <link rel="stylesheet" href="../public/css/globals.css" /> -->
    <link rel="stylesheet" href="../public/css/styles.css" />
  </head>
  <body>
    <div class="login-register">
      <div class="div">
        <div class="group">
          <div class="overlap-group">
            <div class="group-2">
              <div class="group-3">
                <div class="text-wrapper">Sign Up to</div>
                <div class="text-wrapper-2">Lorem Ipsum is simply</div>
              </div>
              <div class="group-4">
                <p class="p">If you already have an account</p>
                <p class="you-can-login-here">
                  <span class="span">You can&nbsp;&nbsp; </span> <span class="text-wrapper-3">Login here !</span>
                </p>
              </div>
            </div>
            <div class="saly"><img class="img" src="img/saly-14.png" /></div>
          </div>
        </div>
        <div class="group-5">
          <div class="group-wrapper">
            <div class="div-wrapper">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2"><div class="text-wrapper-4">Enter Email</div></div>
              </div>
            </div>
          </div>
          <div class="group-6">
            <div class="div-wrapper">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2"><div class="text-wrapper-4">Create User name</div></div>
              </div>
            </div>
          </div>
          <div class="group-7">
            <div class="div-wrapper">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2"><div class="text-wrapper-4">Contact number</div></div>
              </div>
            </div>
          </div>
          <div class="group-8">
            <div class="div-wrapper">
              <div class="overlap">
                <div class="group-9">
                  <div class="overlap-group-2"><div class="text-wrapper-5">Confrim Password</div></div>
                </div>
                <img class="invisible" src="img/invisible-1.svg" />
              </div>
            </div>
          </div>
          <div class="group-10">
            <div class="div-wrapper">
              <div class="overlap">
                <div class="group-9">
                  <div class="overlap-group-2"><div class="text-wrapper-5">Password</div></div>
                </div>
                <img class="invisible" src="img/image.svg" />
              </div>
            </div>
          </div>
          <div class="group-11">
            <div class="group-12">
              <div class="overlap-group-3"><div class="text-wrapper-6">Register</div></div>
            </div>
          </div>
          <div class="text-wrapper-7">or continue with</div>
          <div class="group-13">
            <div class="group-14">
              <img class="facebook" src="img/facebook.svg" />
              <img class="apple" src="img/apple.svg" />
              <img class="google" src="img/google.svg" />
            </div>
          </div>
          <div class="text-wrapper-8">Sign Up</div>
        </div>
        <div class="text-wrapper-9">Your Logo</div>
      </div>
    </div>
  </body>
</html>
